@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: "Anonymous Pro", monospace;
    color: white;
}

.emphasis {
    color: #FF6542;
    font-weight: 700;
}

a:not(li > a) {
    text-decoration: underline;
}