---

import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class="p-50">
        <h1 class="text-white text-4xl">
            <b>404 Page Not Found</b> -- <br />
            Please check the URL you are trying to access.
            If you believe there is an error, please contact me at <a href="./contact" class="emphasis">Contact Me</a>.
        </h1>
    </main>
</Layout>