---
import Layout from "../layouts/Layout.astro";
import '@fontsource/anonymous-pro/700.css';
import '@fontsource/anonymous-pro/400.css';
---
<Layout>
    <main>
        <div class="p-40">
            <h1 class="name-text text-7xl pb-5 emphasis">Anthony Wong</h1>
            <p class="text-2xl text-white pt-2">
                Hello! I am currently pursuing a M.S. in Computer Science at
                <a href="https://uci.edu/">University of California - Irvine</a>, with an expected graduation of
                December 2025. I obtained my B.S. in Software Engineering at University of California - Irvine in June
                2024.
            </p>
            <br/>
            <p class="text-2xl text-white pt-2">
                During my time at UC Irvine, I have been involved with
                <a href="https://linktr.ee/circleoffifthsacappella?fbclid=PAZXh0bgNhZW0CMTEAAad4CbOKTLP6heNGxyFHfcC1CPTJykjYdFJIkmYA4mMnYQ_GQ-iikTzw1-TABg_aem_IXsG8RLyEJTCqQ13k7VOGw">
                    Circle of Fifths A Cappella</a> as a general member (2020 - 2025), music director (2022 - 2023),
                 president (2023 - 2024), solutions architect (2022 - 2025), and lead
                sound engineer (2022 - present). I also arranged music for the group and my arrangement of Benson Boone's
                Beautiful Things was performed as part of our 2025 ICCA Competition set.
            </p>
            <br />
            <p class="text-2xl text-white pt-2">
                I have experience in full-stack software engineering and the <a href="./skills">Skills</a> tab details
                more about the various technologies I have worked with. I also enjoy working with data, and in my role
                with the <a href="https://dtei.uci.edu/opportunities/faculty/learning-assistants/certified-learning-assistants-program/">
                    Certified Learning Assistant Program</a> I had the opportunity to design and revamp data pipelines
                and analyze data to show the growth of the program.
            </p>
        </div>
    </main>
</Layout>

<style>
    a {
        text-decoration: underline;
        color: #E0CBA8;
    }
</style>