---
import '@fontsource/anonymous-pro';
---
<header>
    <nav>
        <div class="text-3xl text-white ">
            <ul class="flex float-right pr-1.5">
                <li><a href="./">Home</a></li>
                <li><a href="about">About</a></li>
                <li hidden><a href="projects">Projects</a></li>
                <li><a href="experience">Experience</a></li>
                <li><a href="skills">Skills</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>


<style>
    header {
        margin: 0;
        font-family: "Anonymous Pro", monospace;
    }
    li {
        padding: 1rem 1rem;
    }

</style>