---
import '@fontsource/anonymous-pro/700.css';
import '@fontsource/anonymous-pro/400-italic.css';
import '@fontsource/anonymous-pro/700-italic.css';
---
<div>
    <div class="grid">
        <h1 class="name-text text-7xl p-50 pt-65 pb-5 emphasis">Anthony Wong</h1>
        <p class="subtext text-5xl pl-50 subcolor">Software Engineer</p>
        <p class="subtext2 text-5xl pl-50 pr-0 pt-5 text-white">
            M.S. in Computer Science @ University of California - Irvine.
        </p>

    </div>
    <button class="download-button relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-2xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-[#779FA1] to-[#FF6542] group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
        Download CV
    </span>
    </button>
</div>



<style>
    div {
        font-family: 'Anonymous Pro', monospace;
    }

    .emphasis {
        color: #FF6542;
        font-weight: 700;
    }

    .subcolor {
        color: white;
    }

    button {
        border: none;
        margin-left: calc(var(--spacing) * 50);
        margin-top: calc(var(--spacing) * 15);
    }
</style>

<script>
    import gsap from 'gsap';
    import SplitText from 'gsap/SplitText';

    gsap.registerPlugin(SplitText);

    let timeline = gsap.timeline();

    let settings = {type:'chars,words', charsClass:'char'}

    for (let x of [".name-text", ".subtext", ".subtext2"]) {
        let text = document.querySelector(x);

        let splitText = SplitText.create(text, settings);
        let chars = splitText.chars;

        if (!text.isSplit) {
            splitText.split(settings)
        }

        timeline.from(chars, {
            duration: .5,
            opacity: 0,
            scale: 0,
            y: 80,
            rotationX: 180,
            transformOrigin: "0% 50% -50",
            ease: "back",
            stagger: 0.05,
            onComplete: () => {
                splitText.revert();
                text.removeAttribute("aria-hidden");
            }
        });
    }

    timeline.from(".download-button", {x: -200, opacity: 0});
</script>